*{
    margin: 0px;

   border-radius: 10px;
    color: rgb(255, 255, 255);
box-sizing: border-box;
}
header{
    border: 5px inset rgb(42, 85, 165);
    box-shadow: 5px 5px 3px 2px rgb(142, 194, 236);
    border-radius: 40px;
    width: 95%;
    padding: 2%;
    text-align: center;
    background-color: #000f3d;
}
section{
border: 5px inset rgb(42, 85, 165);
    direction: rtl;
    width: 92%;
    margin: 2%;
    padding: 2%;
    text-align: center;
    background-color: #344681;
    box-shadow: 5px 5px 3px 2px rgb(142, 194, 236);
    border-radius: 40px;

    

}
section h2{
    border: 5px inset rgb(62, 107, 190);
    background-color:#000f3d;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 3px 2px rgb(142, 194, 236);
    border-radius: 30px;



}
footer{
    border: 5px inset rgb(42, 85, 165);
    box-shadow: 5px 5px 3px 2px rgb(142, 194, 236);
border-radius: 40px;
    width: 95%;
    padding: 2%;
    text-align: center;
    background-color: #000f3d;
}
button{
    border: 5px inset rgb(42, 85, 165);
    box-shadow: 5px 5px 3px 2px rgb(142, 194, 236);

    width: 95%;
    padding: 2%;
    text-align: center;
    background-color: #000f3d;
}
a{
    text-decoration-line:none ;
}
h4{
    border-radius:40px;
    border: 5px inset rgb(42, 85, 165);
    box-shadow: 5px 5px 3px 2px rgb(142, 194, 236);
    
}
h1{
    box-shadow: 5px 5px 3px 2px rgb(142, 194, 236);
   border-radius: 30px;
    

}
